node_modules
dist
.next
.env
*.log
backend/uploads/audio/*
!backend/uploads/audio/.gitkeep
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/dev.db-shm
backend/prisma/dev.db-wal
.DS_Store
frontend/tsconfig.tsbuildinfo
